{% extends "app/base.html" %}
{% block content %}
	<div class="row">
		<h2 class="text-center">{{ recipe_item.item.name }}<span style="float: right">
        <a class="btn btn-default" href="{% url 'process_items' %}">Back</a></span></h2>
		<br>
		<form class="form" method="POST">
                        {% csrf_token %}
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
			<thead>
			  <tr>
				<th>Items</th>
				<th>Quantity</th>
			  </tr>
			</thead>
			<tbody>
			{% for form in formset  %}
			  <tr>
				<td>{{form.item}}</td>
				<td>{{form.quantity}}</td>
			  </tr>
			  {% endfor %}
			</tbody>
		</table>

		{{ProcessForm.as_p}}
		 <div class="form-group" style="width:150px; float:right">
             <input type="submit" class="form-control btn btn-success" value="Submit"/>
         </div>
		 {{ formset.management_form }}
	</div>
	</form>
</div>

{% endblock %}