 {% extends "app/base.html" %}
{% load staticfiles %}


{% block content %}
<style type="text/css">
    .add-row {
        margin-top: 10px;
        width: 150px;
    }

    .delete-row {
        width: 80%;
        margin-left: 10%;
    }
    #id_transfer th {
        padding: 10px;
        text-align: center;
    }
    #id_transfer td {
        padding: 10px;
        text-align: center;

    }
</style>

<div class="row">
    <div class="col-md-7 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading" >ADD ARRIVAL</div>
                <div class="panel-body">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <ul class="list-inline">
                        {% for field in ArrivalForm %}
                       <li style="margin-left: 15px"> {{field.label_tag}} {{field}}</li>
                         {% endfor %}
                         </ul>

                            <div class="panel-body">
                        <table id="id_transfer" width="100%" border="0" cellpadding="50" cellspacing="1500">
                            <thead>
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form in formset %}
                                <tr id="{{ form.prefix }}-row"  class="dynamic-form">
                                    <td>{{form.item}}</td>
                                    <td>{{form.quantity}}</td>
                                   <td><a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="btn btn-danger delete-row"><span class="glyphicon glyphicon-remove"></span></a></td>
                                   <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <center><a href="javascript:void(0)" class="btn btn-primary add-row">Add More</a></center>
                        {{ formset.management_form }}
                        <br>
                        <div class="form-group" style="width:150px; float:right">
                            <input type="submit" class="form-control btn btn-success" value="Submit"/>
                        </div>
                        <div><a style="width:150px" class="btn btn-default" href="{% url 'arrivals' %}">Back</a></div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>


{% endblock %}