{% extends "app/base.html" %}
{% block content %}
	<div class="row">
		<h2 class="text-center">Daily Report<span style="float: right">
        <a class="btn btn-default" href="{% url 'reports' %}">Back</a></span></h2>
		<br>

		<form class="form" method="POST">
		{% if messages %}
		        <ul class="messages">
                    {% for message in messages %}
                   <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
                        {% csrf_token %}
                        <ul class="list-inline">
                        {% for field in ReportForm %}
                       <li style="margin-left: 0px"> {{field.label_tag}} {{field}}</li>
                         {% endfor %}
                         </ul>
                         <br>
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
			<thead>
			  <tr>
				<th>Items</th>
				<th>End</th>
			  </tr>
			</thead>
			<tbody>
			{% for form in formset1 %}
			  <tr>
				<td>{{form.item}}</td>
				<td>{{form.end}}</td>
			  </tr>
			  {% endfor %}
			</tbody>
		</table>
		 {{ formset1.management_form }}
		</div>
             <table id="id_transfer" width="50%" border="0" cellpadding="50" cellspacing="1500">
               <thead>
                  <tr>
                     <th scope="col">Expenses</th>
                     <th scope="col">Amount</th>
                  </tr>
               </thead>
                <tbody>
                 {{ formset2.management_form }}
                   {% for form1 in formset2 %}
                   <br>
                      <tr id="{{form1.prefix}}-row"  class="dynamic-form">
                        <td>{{form1.expenses}}</td>
                        <td>{{form1.amount}}</td>
                        <td><a id="remove-{{ form1.prefix }}-row" href="javascript:void(0)" class="btn btn-danger delete-row"><span class="glyphicon glyphicon-remove"></span></a></td>
                      </tr>
                   {% endfor %}
                </tbody>
             </table>
             <br>
             <br>
                  <center><a href="javascript:void(0)" class="btn btn-primary add-row" style="margin-left: -500px" >Add More</a></center>

                   <br>
		 <div class="form-group" style="width:150px; float:right">
             <input type="submit" class="form-control btn btn-success" value="Submit"/>
         </div>
	</form>
	</div>


{% endblock %}