{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Arrival
            <span style="float: right">
            {% if request.user.is_active and request.user.can_encode %}
        <a class="btn btn-primary" href="{% url 'add_arrival' %}"> Add Arrival</a>
        {% if request.user.is_active and not request.user.can_update_arrival %}
        <button onclick="update_arrival();" class="btn btn-primary">Request Permission to Update</button>
        {% endif %}
        {% endif %}
    </span></h1>
    </div>

    <div class="row form-inline">
        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
            <p id="date_filter" style="float: right; margin-right: 40px">
                <span id="date-label-from" class="date-label"><strong>From: </strong><input class="date_range_filter form-control"
                                                                                            type="text"
                                                                                            id="datepicker_from"/></span>
                <span id="date-label-to" class="date-label"><strong>To: </strong><input class="date_range_filter date form-control"
                                                                                        type="text" id="datepicker_to"/></span>
            </p>
            <thead>
            <tr>
                <th>Date</th>
                <th>Receipt No.</th>
                <th>Supplier</th>
                <th>Location</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for arrival in arrivals %}
            <tr>
                <td>{{ arrival.created_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ arrival.receipt_no}}</td>
                <td>{{ arrival.supplier }}</td>
                <td>{{ arrival.location }}</td>
                <td>{{ arrival.type }}</td>
                <td width="40%">

                 <a class="btn btn-info btn-sm" href="{% url 'arrivalItems' arrival.id %}">Items</a>

                {% if request.user.is_active and request.user.can_update_arrival%}
                    <a class="btn btn-warning btn-sm" href="{% url 'update_arrival' arrival.id %}">Update</a>
                    {% endif %}
                    {% if request.user.is_active and request.user.is_superuser %}
                    <button onclick="confirmArrivalDelete({{ arrival.id }});" class="btn btn-danger btn-sm"> Delete</button>
                    {% endif %}
                    {% if request.user.is_active and request.user.can_print %}
                    <a class="btn btn-default btn-sm" target="_blank" href="{% url 'receipt_arrival_pdf' arrival.id %}">
                    <span class="glyphicon glyphicon-print"></span> Print</a>
                    <a class="btn btn-info btn-sm" href="{% url 'download_receipt_arrival' arrival.id %}">
                    <span class="glyphicon glyphicon-download-alt"></span> Download
                    </a>
                    {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}