{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>B-Bu-Q Inventory System</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="css/normalize.css" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/datepicker.css" %}" rel="stylesheet" type="text/css"/>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">B-Bu-Q Inventory System</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li>
                <a href="{% url "logout" %}">Log out</a>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="#"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'list_items' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Items</a>
                </li>
                 <li>
                    <a href="{% url 'process_items' %}"><i class="fa fa-fw fa-bar-chart-o"></i> Process Items</a>
                </li>
                <li>
                    <a href="{% url 'view_inventory' %}"><i class="fa fa-fw fa-table"></i> Inventory</a>
                </li>
                 <li>
                    <a href="{% url 'reports' %}"><i class="fa fa-fw fa-file"></i> Sales/Inventory Reports</a>
                </li>
                <li>
                    <a href="{%url 'branch_items' %}"><i class="fa fa-fw fa-table"></i> Branch Items</a>
                </li>
                <li>
                    <a href="{% url 'arrivals' %}"><i class="fa fa-fw fa-truck"></i> Arrival</a>
                </li>
                <li>
                    <a href="{% url 'transfers' %}"><i class="fa fa-fw fa-calendar"></i> Transfers</a>
                </li>
                <li>
                    <a href="{% url 'location_list' %}"><i class="fa fa-fw fa-map-marker"></i> Location</a>
                </li>
                <li>
                    <a href="{% url 'suppliers' %}"><i class="fa fa-fw fa-wrench"></i> Supplier</a>
                </li>
                 {% if request.user.is_active and request.user.is_superuser %}
                <li>
                    <a href="{% url 'employees_list' %}"><i class="fa fa-fw fa-wrench"></i> Employees</a>
                </li>
                <li>
                    <a href="{% url 'permissions' %}"><i class="fa fa-fw fa-calendar"></i> Permission Requests</a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'checklist' %}"><i class="fa fa-fw fa-calendar"></i> Checklist</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper" style="min-height: 700px">

        <div class="container-fluid" style="margin: 0 5%">
            {% block content %}
            {% endblock %}
        </div>

    </div>
</div>

<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"></script>

<script type="text/javascript">
    jQuery.browser = {};
    (function () {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();
</script>

<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>

<script>

   $(function() {
  var oTable = $('#example').DataTable({
    "oLanguage": {
      "sSearch": "Search  "
    },
    "iDisplayLength": -1,
    "sPaginationType": "full_numbers",

  initComplete: function () {
            this.api().columns('.select-filter').every( function () {
                var column = this.column(3);
                var select = $('<select><option value="">All</option></select>')
                    .appendTo( $(column.header()) )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
  });

  $("#datepicker_from").datepicker({
    buttonImageOnly: false,
    "onSelect": function(date) {
      minDateFilter = new Date(date).getTime();
      oTable.draw();
    }
  }).keyup(function() {
    minDateFilter = new Date(this.value).getTime();
    oTable.draw();
  });

  $("#datepicker_to").datepicker({
    buttonImageOnly: false,
    "onSelect": function(date) {
      maxDateFilter = new Date(date).getTime();
      oTable.draw();
    }
  }).keyup(function() {
    maxDateFilter = new Date(this.value).getTime();
    oTable.draw();
  });

});

// Date range filter
minDateFilter = "";
maxDateFilter = "";

$.fn.dataTableExt.afnFiltering.push(
  function(oSettings, aData, iDataIndex) {
    if (typeof aData._date == 'undefined') {
      aData._date = new Date(aData[0]).getTime();
    }

    if (minDateFilter && !isNaN(minDateFilter)) {
      if (aData._date < minDateFilter) {
        return false;
      }
    }

    if (maxDateFilter && !isNaN(maxDateFilter)) {
      if (aData._date > maxDateFilter) {
        return false;
      }
    }

    return true;

  }
);

</script>

<script src="{% static "js/jquery.formset.js" %}"></script>
<script type="text/javascript">
    <!--
    $(function () {
        $('.add-row').click(function() {
            return addForm(this, 'form');
        });
        $('.delete-row').click(function() {
            return deleteForm(this, 'form');
        })
    })
//-->
</script>

<script type="text/javascript">
    $(function () {
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("date_i").innerHTML = m + "/" + d + "/" + y;
    })
</script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "bower_components/sweetalert2/dist/sweetalert2.all.min.js" %}"></script>


</body>

</html>
