{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Branches<span style="float: right">
    </span></h1>
    </div>


    <div class="row">

        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Location</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for loc in locations %}
            <tr>
                <td>{{ loc.name }}</td>
                <td width="50%">
                    <a class="btn btn-info" href="{% url 'branch_inventory' loc.id %}" >View Inventory</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
       </table>

    </div>


{% endblock %}