{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">{{ current_location.name }} Inventory
        <span style="float:right">{% if request.user.is_active and request.user.can_encode %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#AddItemModal"> Add Item </button>
        {% endif %}
        <a class="btn btn-default" href="{% url 'branch_items' %}">Back</a></span>
        </h1>
    </div>

    <div class="row">
     {% if success %}
            <div class="alert alert-success" role="alert">
                Added Item!
            </div>
     {% endif %}
     {% if error %}
            <div class="alert alert-danger" role="alert">
                Something went wrong!
            </div>
     {% endif %}
        <br>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label><h3>As of {{ date }}</h3></label>
            </div>
        </div>
        <br>
        <table id="example" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Type</th>
                <!-- <th>Current Stock</th> -->
                <th>
                    <form class="form form-horizontal" method="POST">
                        {% csrf_token %}                        
                        <div class="input-group">
                            <span class="input-group-addon" style="background: white; font-weight: 700; font-size: 14px; font: black;">Current Stock As of</span><input type="datetime-local" class="form-control" name="branch_search_date">
                            <span class="input-group-btn"><button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search" ></i></button></span>
                        </div>
                    </form>
                </th>
                {% if request.user.is_active and request.user.is_superuser %}
                <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for i in itemloc %}
            <tr>
                <td>{{ i.item.name}}</td>
                <td>{{ i.item.category }}</td>
                <td>{{ i.item.type }}</td>
                <td width="20%">{{ i.current_stock }}</td>
                {% if request.user.is_active and request.user.is_superuser %}
                <td width="10%">
                 <button class="btn btn-danger btn-sm" onclick="confirmInventoryDelete({{item.id}});">Delete</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

     <!-- Modal -->
    <div class="modal fade" id="AddItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Add Item
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                <form class="form form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Item</label>
                            <div class="col-md-10">
                                <select class="form-control" name="item">
                                    {% for item in items%}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}