{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">CATEGORIES
            <span style="float: right">
        <a class="btn btn-default" href="{% url 'list_items' %}">Back</a>
        {% if request.user.is_active and request.user.can_encode %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#AddCategoryModal"> Add Category </button>
        {% endif %}
    </span></h1>
    </div>

    <div class="row">
        {% if success %}
            <div class="alert alert-success" role="alert">
                Added Category!
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                Something went wrong!
            </div>
        {% endif %}
        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                {% if request.user.is_active and request.user.is_superuser %}
                <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    {% if request.user.is_active and request.user.is_superuser %}
                    <td width="20%">
                        <a class="btn btn-warning" href="{% url 'update_category' category.id %}">Update</a>
                        <button onclick="confirmCategoryDelete({{ category.id }});" class="btn btn-danger"> Delete
                        </button>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="AddCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Add Category
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                <form class="form form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input name="category_name" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}