{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Checklist
        <span style="float: right">
        {% if request.user.is_active and request.user.can_encode%}
        <a class="btn btn-primary" href ="{% url 'add_checklist' %}" > Add Checklist </a>
        {% endif %}
    </span>
    </h1>
    </div>

    <div class="row">

        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {%  for i in list %}
            <tr>
                <td>{{ i.name }}</td>

                <td width="35%">
                    <a class="btn btn-info btn-sm" href="{% url 'specific_checklist' i.id %}">View</a>
                    {% if request.user.is_active and request.user.is_superuser %}
                    <button class="btn btn-danger btn-sm" onclick="confirmChecklistDelete({{i.id}})"> Delete</button>
                    {% endif %}
                    {% if request.user.is_active and request.user.can_encode %}
                    <a class="btn btn-warning btn-sm" href="{% url 'update_checklist' i.id %}">Update</a>
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}