{% extends "app/base.html" %}
{% block content %}
<br>
<form class="form form-horizontal" method="POST">
    {% csrf_token %}
    <div class="col-md-8">
        <div class="panel panel-default" style="margin-bottom:0">
            <div class="panel-heading"><center><h4>CREATE ACCOUNT</h4></center></div>
                <div class="panel-body">
                {% if success %}
                    <div class="alert alert-success" role="alert">
                         Added Account!
                    </div>
                {% endif %}
                    <div class="form-group">
                            <label class="col-md-2 control-label">Username</label>
                            <div class="col-md-10">
                                <input name="user_name" type="text" class="form-control">
                            </div>
                    </div>
                     <div class="form-group">
                            <label class="col-md-2 control-label">First name</label>
                            <div class="col-md-10">
                                <input name="fname" type="text" class="form-control">
                            </div>
                    </div>
                     <div class="form-group">
                            <label class="col-md-2 control-label">Middle Initial</label>
                            <div class="col-md-10">
                                <input name="m_initial" type="text" class="form-control">
                            </div>
                    </div>
                     <div class="form-group">
                            <label class="col-md-2 control-label">Last name</label>
                            <div class="col-md-10">
                                <input name="lname" type="text" class="form-control">
                            </div>
                    </div>
                     <div class="form-group">
                            <label class="col-md-2 control-label">Gender</label>
                            <div class="col-md-10">
                                <input name="gender" type="text" class="form-control">
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Position</label>
                            <div class="col-md-10">
                                <input name="position" value="{{user.position}}"  type="text" class="form-control">
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Access</label>
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <label>
                                    <input type="hidden" name="can_print" value="False" />
                                    <input type="checkbox" name="can_print" value="True" >Print</label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                     <input type="hidden" name="can_encode" value="False" />
                                     <input type="checkbox" name="can_encode" value="True" > Encode</label>
                                </div>
                            </div>
                        </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Password</label>
                            <div class="col-md-10">
                                  <input name="password" type="text" class="form-control">
                            </div>
                    </div>
                    <span style="float: right">
                        <a class="btn btn-default" href="{% url 'employees_list' %}" >Back</a>
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </span>
              </div>
        </div>
    </div>
</form>
{% endblock %}