<html>
<head>
    <title>B-Bu-Q Inventory System</title>
<style>
    @page {
        size: letter landscape;
        @frame header_frame {
            -pdf-frame-content: header_content;
            left: 50pt; width: 690pt; top: 50pt; height: 40pt;
        }
        @frame content_frame {
            left: 50pt; width: 690pt; top: 90pt; height: 460pt;
        }
        @frame footer_frame {
            -pdf-frame-content: footer_content;
            left: 0pt; width: 765pt; top: 580pt; height: 20pt;
        }
       .up_details{
            font-size: 1em;
            color: #000;
            line-height: 0.3em;
         }
    }
</style>
</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
        <p style="font-size: 22px; font-weight: 100; text-align: center;">B.BU.Q BARBECUE HAUSE</p>
    </div>


    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">
        <p style="text-align: right; position: fixed; font-size: 16px; margin-right: 40px;">Daily Report {{ report.created_date|date:"SHORT_DATE_FORMAT" }}</p>
    </div>

    <!-- HTML Content -->
         <div id="bot">
            <p style="font-size: 12px; text-align: right;">Date: {{ report.created_date|date:"SHORT_DATE_FORMAT" }}</p>
            <p style="font-size: 12px;"> Location: {{report.location}}</p>
            <p style="font-size: 12px;">Prepared by: {{report.user.username}}</p>

                    <div id="table">
                        <table>
                            <tr>
                                <th style="text-align: left; font-size: 13px;">STOCKS</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr class="tabletitle" style="padding: 4px;">
                                <th class="item" style="border-left: 1px solid black; border-bottom: 1px solid #ddd; border-top: 1px solid black;"><h2>Item</h2></th>
                                <th class="hours" style="border-bottom: 1px solid #ddd; border-top: 1px solid black;"><h2>Beginning</h2></th>
                                <th class="rate" style="border-bottom: 1px solid #ddd; border-top: 1px solid black;"><h2>New</h2></th>
                                <th class="rate" style="border-bottom: 1px solid #ddd; border-top: 1px solid black;"><h2>Total</h2></th>
                                <th class="rate" style="border-right: 1px solid black; border-bottom: 1px solid #ddd; border-top: 1px solid black;"><h2>End</h2></th>
                            </tr>

                            {% for item in items %}
                                <tr class="service" style="text-align: center; margin-top: 30px; padding: 3px;">
                                    <td class="tableitem" style="border-left: 1px solid black;"><p class="itemtext1">{{item.item.name}}</p></td>
                                    <td class="tableitem"><p class="itemtext">{{item.beg}}</p></td>
                                    <td class="tableitem"><p class="itemtext">{{item.new}}</p></td>
                                    <td class="tableitem"><p class="itemtext">{{item.total}}</p></td>
                                    <td class="tableitem" style="border-right: 1px solid black;"><p class="itemtext"</p>{{item.end}}</td>
                                </tr>
                            {% endfor %}

                            <tr class="tabletitle" style="padding-top: 6px;">
                                <th class="Rate" style="border-left: 1px solid black; border-top: 1px solid #ddd; border-bottom: 1px solid black;"><h2>Total</h2></th>
                                <th style="border-top: 1px solid #ddd; border-bottom: 1px solid black;"></th>
                                <th style="border-top: 1px solid #ddd; border-bottom: 1px solid black;"></th>
                                <th style="border-top: 1px solid #ddd; border-bottom: 1px solid black;"></th>
                                <th style="border-right: 1px solid black; border-top: 1px solid #ddd; border-bottom: 1px solid black;"></th>
                            </tr>
                        </table>
                        <table>
                            <br>
                            <tr>
                                <th></th>
                                <th style="text-align: left; font-size: 13px;">EXPENSES</th>
                                <th></th>
                            </tr>
                            <tr class="tabletitle" style="padding: 4px;">
                                <th style="border-left: 1px solid black; border-bottom: 1px solid #ddd; border-top: 1px solid black;"></th>
                                <th style="border-bottom: 1px solid #ddd; border-top: 1px solid black;">Expenses</th>
                                <th style="border-right: 1px solid black; border-bottom: 1px solid #ddd; border-top: 1px solid black;">Amount</th>
                            </tr>

                            {% for item in expense %}
                                <tr class="service" style="text-align: center; margin-top: 30px; padding: 3px;">
                                    <td class="tableitem" style="border-left: 1px solid black;"><p class="itemtext"></p></td>
                                    <td class="tableitem"><p class="itemtext">{{item.expenses}}</p></td>
                                    <td class="tableitem" style="border-right: 1px solid black;"><p class="itemtext">{{item.amount}}</p></td>
                                </tr>
                            {% endfor %}

                            <tr class="tabletitle" style="padding-top: 6px;">
                                <th class="Rate" style="border-left: 1px solid black; border-top: 1px solid #ddd; border-bottom: 1px solid black; padding-left: 30px;"><h2>Total</h2></th>
                                <th class="Rate" style="border-top: 1px solid #ddd; border-bottom: 1px solid black;"><h2>{{total_expense}}</h2></th>
                                <th style="border-right: 1px solid black; border-top: 1px solid #ddd; border-bottom: 1px solid black;"><h2>{{amount}}</h2></th>
                            </tr>
                        </table>

                    </div><!--End Table-->
        </div>
</body>
</html>