{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Employees
            <span style="float: right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#AddEmployeeModal"> Add Employee </button>
    </span></h1>
    </div>

    <div class="row">
        {% if success %}
            <div class="alert alert-success" role="alert">
                Added Employee!
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                Something went wrong!
            </div>
        {% endif %}
        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for person in employees%}
                <tr>
                    <td>{{ person.name }}</td>
                    <td>{{ person.position }}</td>
                    <td>{{ person.address }}</td>
                    <td>{{ person.phone}}</td>
                    <td width="30%">
                    {% if not person.has_account %}
                        <a class="btn btn-primary btn-sm" href="{% url 'create_account' person.id %}">Create Account</a>
                    {% endif %}
                        <a class="btn btn-warning btn-sm" href="{% url 'update_employee' person.id %}">Update</a>
                        <button class="btn btn-danger btn-sm" onclick="confirmEmployeeDelete({{person.id}})"> Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="AddEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Add Employee
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                <form class="form form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input name="employee_name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Position</label>
                            <div class="col-md-10">
                                <input name="employee_position" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Address</label>
                            <div class="col-md-10">
                                 <input name="employee_address" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Phone No</label>
                            <div class="col-md-10">
                                 <input name="employee_number" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}