{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Expenses
             <span style="float: right">
             {% if request.user.is_active and request.user.can_encode%}
         <button class="btn btn-primary" data-toggle="modal" data-target="#WeeklyExpenses">Weekly Expenses</button>
         <a class="btn btn-default" href="{% url 'reports' %}">Back</a>
        {% endif %}
    </span></h1>
    </div>

    <div class="row">
        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
         <p id="date_filter" style="float: right; margin-right: 40px">
        <span id="date-label-from" class="date-label" name="from_date"><strong>From: </strong><input class="date_range_filter date" type="text" id="datepicker_from" /></span>
        <span id="date-label-to" class="date-label" name="to_date"><strong>To: </strong><input class="date_range_filter date" type="text" id="datepicker_to" /></span>
        </p>
            <thead>
            <tr>
                <th>Date</th>
                <th>Expenses</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
                {% for e in all_expenses %}
            <tr>
                <td>{{e.created_date|date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{e.expenses}}</td>
                <td>{{e.amount}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<!-- Modal -->

 <div class="modal fade" id="WeeklyExpenses" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Create Weekly Report
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                   <form class="form form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">From</label>
                            <div class="col-md-10">
                                <input name="from_date" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">To</label>
                            <div class="col-md-10">
                                <input name="to_date" type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
        </div>
    </div>
 </div>

{% endblock %}