{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Items
            <span style="float: right">
            {% if request.user.is_active and request.user.can_encode %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#AddItemModal"> Add Item </button>
        {% endif %}
        <a class="btn btn-success" href="{% url 'categories' %}"> Categories </a>
    </span></h1>
    </div>

    <div class="row">
        {% if success %}
            <div class="alert alert-success" role="alert">
                Added Item!
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                Something went wrong!
            </div>
        {% endif %}
        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th class="select-filter">Type </th>
                {% if request.user.is_active and request.user.is_superuser %}
                <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.category.name }}</td>
                    <td>{{ item.type }}</td>
                    {% if request.user.is_active and request.user.is_superuser %}
                    <td width="20%">
                        <a class="btn btn-warning btn-sm" href="{% url 'update_item' item.id %}">Update</a>
                        <button onclick="confirmItemDelete({{ item.id }});" class="btn btn-danger btn-sm"> Delete</button>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="AddItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Add Item
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                <form class="form form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input name="item_name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Price</label>
                            <div class="col-md-10">
                                <input name="item_price" type="number" step="0.01" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Category</label>
                            <div class="col-md-10">
                                <select class="form-control" name="item_category">
                                    {% for item in category %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Type</label>
                            <div class="col-md-10">
                                <select class="form-control" name="item_type">
                                    <option value="raw">Raw</option>
                                    <option value="processed">Processed</option>
                                    <option value="processe&raw">Raw & Processed</option>
                               </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}