{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Locations
        {% if request.user.is_active and request.user.can_encode %}
            <button class="btn btn-primary" style="float: right" data-toggle="modal" data-target="#AddLocModal"> Add
                Location
            </button>
            {% endif %}

        </h1>
    </div>

    <div class="row">
        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                {% if request.user.is_active and request.user.is_superuser %}
                <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for loc in locations %}
            <tr>
                <td>{{ loc.name }}</td>
                <td>{{ loc.address }}</td>
                {% if request.user.is_active and request.user.is_superuser %}
                <td width="20%">
                    <a class="btn btn-warning" href ="{% url 'update_location' loc.id %}">Update</a>
                    <button onclick="confirmLocationDelete({{loc.id}});" class="btn btn-danger"> Delete</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- Modal -->
      <div class="modal fade" id="AddLocModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Add Location
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                <form class="form form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input name="loc_name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Address</label>
                            <div class="col-md-10">
                                <input name="loc_address" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}