<html>
<head>
    <style>
        @page {
            size: letter portrait;

        @frame header_frame {
            -pdf-frame-content: header_content;
            left: 50pt;
            width: 512pt;
            top: 50pt;
            height: 40pt;
        }
        @frame content_frame {
            left: 50pt;
            width: 500pt;
            top: 90pt;
            height: 670pt;
        }
        @frame footer_frame {
            -pdf-frame-content: footer_spaceu;
            left: 0pt;
            width: 595pt;
            top: 620pt;
            height: 20pt;
        }
        @frame footer_frame {
            -pdf-frame-content: footer_spaced;
            left: 0pt;
            width: 595pt;
            top: 780pt;
            height: 20pt;
        }
        @frame footer_frame {
            -pdf-frame-content: footer_content;
            left: 0pt;
            width: 595pt;
            top: 770pt;
            height: 20pt;
        }
        .up_details {
            font-size: 1em;
            color: #000;
            line-height: 0.3em;
        }

        }
    </style>
</head>

<body>
<!-- Content for Static Frame 'header_frame' -->
<div id="header_content">
    <h1 style="text-align: center;"><span style="font-size: 15px">B.BU.Q BARBECUE HAUS</span><br>Receipt</h1>
</div>


<!-- Content for Static Frame 'footer_frame' -->
<div id="footer_content">
    <p style="text-align: right; position: fixed; font-size: 16px; margin-right: 40px;">PAYABLE
        RECEIPT {{ arrival.created_date|date:"SHORT_DATE_FORMAT" }}</p>
</div>

<!-- HTML Content -->

<div class='details'>
    <div class="row" style="font-size: 12px;">
        <table style="border: none">
            <tbody>
            <tr style="padding-bottom: 3px">
                <td><strong>Date:</strong> {{ arrival.created_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td></td>
                <td></td>
                <td><strong>Receipt No:</strong> {{ receipt_no }}</td>
            </tr>
            <tr style="padding-bottom: 3px">
                <td><strong>Location:</strong> {{ arrival.location }}</td>
                <td></td>
                <td></td>
                <td><strong>Supplier:</strong> {{ arrival.supplier }}</td>
            </tr>
            <tr>
                <td><strong>Prepared by:</strong> {{ arrival.user.username }}</td>
                <td></td>
                <td></td>
                <td><strong>Supplier Receipt No:</strong>{{arrival.receipt_no}}</td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
<hr class='hrItem'/>
<div id="bot">

    <div id="table">
        <table>
            <tr class="tabletitle" style="border-bottom: 1px solid #ddd;padding: 4px;">
                <th class="item"><h2>Item</h2></th>
                <th class="hours"><h2>Qty</h2></th>
                <th class="rate"><h2>Price</h2></th>
                <th class="rate"><h2>Amount</h2></th>
            </tr>
            {% for item in items %}
                <tr class="service" style="text-align: center; margin-top: 30px; padding: 3px;">
                    <td class="tableitem"><p class="itemtext1">{{ item.item.name }}</p></td>
                    <td class="tableitem"><p class="itemtext">{{ item.quantity }}</p></td>
                    <td class="tableitem"><p class="itemtext">{{ item.item.price }}</p></td>
                    <td class="tableitem"><p class="itemtext">{{ item.calculate_total }} </p></td>

                </tr>
            {% endfor %}
            <tr class="tabletitle" style="border-top: 1px solid #ddd;padding-top: 4px;">
                <th></th>
                <th></th>
                <th class="Rate"><h2>Total</h2></th>
                <th class="payment"><h2>{{ total }}</h2></th>
            </tr>

            <!-- <hr class='hrItem' /> -->
        </table>
    </div><!--End Table-->
    <hr class='hrItem'/>
</div>
</body>
</html>