{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Permissions</h1>
    </div>

    <div class="row form-inline">
        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>User</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for p in permissions %}
            <tr>
                <td>{{ p.user }}</td>
                <td>{{ p.message }}</td>
                <td width="40%">
                 <a class="btn btn-info btn-sm" href="{% url 'approve' p.user.id p.id %}">Approve</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}