{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Process Items</h1>
    </div>

    <div class="row">
        {% if success %}
            <div class="alert alert-success" role="alert">
                Added Item!
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                Something went wrong!
            </div>
        {% endif %}
        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                {% if request.user.is_active and request.user.can_encode%}
                <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.category.name }}</td>
                    {% if request.user.is_active and request.user.can_encode %}
                    <td width="30%">
                        {% if item.has_recipe %}
                        <a class="btn btn-primary btn-sm" href="{% url 'process' item.id %}">Process Item</a>
                        {% endif %}
                        {% if not item.has_recipe and item.category.name == "foods" %}
                        <a class="btn btn-primary btn-sm" href="{% url 'create_recipe' item.id %}">Create Recipe</a>
                        {% endif %}
                         {% if item.has_recipe and item.category.name == "foods" %}
                        <a class="btn btn-warning" href="{% url 'update_recipe' item.id %}">Update Recipe</a>
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}