{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Sales Reports
             <span style="float: right">
             {% if request.user.is_active and request.user.can_encode%}
            {% if not has_report %}
        <button class="btn btn-primary" data-toggle="modal" data-target="#AddReport">Daily Report</button>
            {% endif %}
         <button class="btn btn-primary" data-toggle="modal" data-target="#AddWeeklyReport" >Weekly Report</button>
         <a class="btn btn-primary" href="{% url 'expenses' %}">Expenses</a>
        {% if request.user.is_active and not request.user.can_update_report %}
        <button onclick="update_report();" class="btn btn-primary">Request Permission to Update</button>
        {% endif %}
        {% endif %}
    </span></h1>
    </div>

    <div class="row">
        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
         <p id="date_filter" style="float: right; margin-right: 40px">
        <span id="date-label-from" class="date-label" name="from_date"><strong>From: </strong><input class="date_range_filter " type="text" id="datepicker_from" /></span>
        <span id="date-label-to" class="date-label" name="to_date"><strong>To: </strong><input class="date_range_filter date" type="text" id="datepicker_to" /></span>
        </p>
            <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for report in reports %}
            <tr>
                <td>{{report.created_date|date:"SHORT_DATE_FORMAT"}}</td>
                <td>{{report.name}}</td>
                <td>{{report.location}}</td>
                <td width="35%">
                    {% if request.user.is_active and request.user.can_print %}
                    <a class="btn btn-default btn-sm" target="_blank" href="{% url 'daily_report' report.id %}">
                    <span class="glyphicon glyphicon-print"></span> Print</a>
                    <a class="btn btn-info btn-sm" href="{% url 'daily_report_download' report.id %}">
                    <span class="glyphicon glyphicon-download-alt"></span> Download
                    </a>
                    {% if request.user.is_active and request.user.can_update_report%}
                    <a class="btn btn-warning btn-sm" href="{% url 'update_report' report.id %}">Update</a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<!-- Modal -->
    <div class="modal fade" id="AddReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Checklists
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                    <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        {% for i in checklist %}
                        <a href="{% url 'create_report' i.id %}" class="list-group-item">{{ i.name }}</a>
                        {% endfor %}
                    </ul>

               </div>
        </div>
    </div>
 </div>

 <div class="modal fade" id="AddWeeklyReport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Create Weekly Report
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                </div>
                   <form class="form form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">From</label>
                            <div class="col-md-10">
                                <input name="from_date" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">To</label>
                            <div class="col-md-10">
                                <input name="to_date" type="date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
        </div>
    </div>
 </div>

{% endblock %}