{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">Transfers
         <span style="float: right">
        {% if request.user.is_active and request.user.can_encode %}
        <a class="btn btn-primary" href="{% url 'create_transfer' %}">Add Transfer</a>
        {% endif %}
    </span></h1>
    </div>

    <div class="row form-inline">
        <br>
        <br>
        <table id="example" class="table table-striped table-bordered">
            <p id="date_filter" style="float: right; margin-right: 40px">
                <span id="date-label-from" class="date-label"><strong>From: </strong><input class="date_range_filter form-control"
                                                                                            type="text"
                                                                                            id="datepicker_from"/></span>
                <span id="date-label-to" class="date-label"><strong>To: </strong><input class="date_range_filter date form-control"
                                                                                        type="text" id="datepicker_to"/></span>
            </p>
            <thead>
            <tr>
                <th>Date</th>
                <th>From</th>
                <th>To</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for transfer in transfers %}
            <tr>
                <td>{{ transfer.created_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{{ transfer.From.name }}</td>
                <td>{{ transfer.To.name }}</td>
                <td width="40%">
                 <a class="btn btn-info btn-sm" href="{% url 'specific_transfer' transfer.id %}">Items</a>
                    {% if request.user.is_active and request.user.is_superuser %}
                    <button class="btn btn-danger btn-sm"> Delete</button>
                    {% endif %}
                    {% if request.user.is_active and request.user.can_print %}
                    <a class="btn btn-default btn-sm" target="_blank" href="{% url 'transfer_receipt' transfer.id %}">
                    <span class="glyphicon glyphicon-print"></span> Print</a>
                    <a class="btn btn-info btn-sm" href="{% url 'transfer_download' transfer.id %}" >
                    <span class="glyphicon glyphicon-download-alt"></span> Download
                    </a>
                    {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}