{% extends "app/base.html" %}
{% block content %}
<br>
<form class="form form-horizontal" method="POST">
    {% csrf_token %}
    <div class="col-md-8">
        <div class="panel panel-default" style="margin-bottom:0">
            <div class="panel-heading"><center><h4>UPDATE EMPLOYEE</h4></center></div>
                <div class="panel-body">
                {% if success %}
                    <div class="alert alert-success" role="alert">
                         Successfully Update!
                    </div>
                {% endif %}
                    <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input name="update_employee_name" value="{{person.name}}" type="text" class="form-control">
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Position</label>
                            <div class="col-md-10">
                                <input name="update_employee_position" value="{{person.position}}"  type="text" class="form-control">
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Address</label>
                            <div class="col-md-10">
                                 <input name="update_employee_address" value="{{person.address}}"  type="text" class="form-control">
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Phone No</label>
                            <div class="col-md-10">
                                  <input name="update_employee_phone" value="{{person.phone}}"  type="text" class="form-control">

                            </div>
                    </div>
                    <span style="float: right">
                        <a class="btn btn-default" href="{% url 'employees_list' %}">Back</a>
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </span>
                    </div>
        </div>
    </div>
</form>      
{% endblock %}