{% extends "app/base.html" %}
{% block content %}
<br>
<form class="form form-horizontal" method="POST">
    {% csrf_token %}
    <div class="col-md-8">
        <div class="panel panel-default" style="margin-bottom:0">
            <div class="panel-heading"><center><h4>UPDATE ITEM</h4></center></div>
                <div class="panel-body">
                {% if success %}
                    <div class="alert alert-success" role="alert">
                         Successfully Update!
                    </div>
                {% endif %}
                    <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input name="update_item_name" value="{{item.name}}" type="text" class="form-control">
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Price</label>
                            <div class="col-md-10">
                                <input name="update_item_price" value="{{item.price}}"  type="number" class="form-control">
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Category</label>
                            <div class="col-md-10">
                                <select class="form-control" name="update_item_category">
                                    {% for item in categories %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Type</label>
                            <div class="col-md-10">
                                <select class="form-control" name="update_item_type">
                                    <option value="raw">Raw</option>
                                    <option value="processed">Processed</option>
                                </select>
                            </div>
                    </div>
                    <span style="float: right">
                    <a class="btn btn-default" href= "{% url 'list_items' %}">Back</a>
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </span>
                    </div>
        </div>
    </div>
</form>      
{% endblock %}