{% extends "app/base.html" %}
{% block content %}
<br>
<form class="form form-horizontal" method="POST">
    {% csrf_token %}
    <div class="col-md-8">
        <div class="panel panel-default" style="margin-bottom:0">
            <div class="panel-heading"><center><h4>UPDATE LOCATION</h4></center></div>
                <div class="panel-body">
                    <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input name="update_location_name" value="{{location.name}}" type="text" class="form-control">
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Address</label>
                            <div class="col-md-10">
                                <input name="update_location_address" value="{{location.address}}"  type="text" class="form-control">
                            </div>
                    </div>
                    <span style="float: right">
                        <a class="btn btn-default" href="{% url 'location_list' %}">Back</a>
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </span>
                    </div>
        </div>
    </div>
</form>      
{% endblock %}
