{% extends "app/base.html" %}
{% block content %}
<br>
<form class="form form-horizontal" method="POST">
       {% csrf_token %}
<div class="col-md-8">
        <div class="panel panel-default" style="margin-bottom:0">
            <div class="panel-heading"><center><h4>UPDATE SUPPLIER</h4></center></div>
                <div class="panel-body">
        {% if success %}
            <div class="alert alert-success" role="alert">
                Successfully Update!
            </div>
        {% endif %}
                <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input name="update_supplier_name" value="{{supplier.name}}" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Address</label>
                    <div class="col-md-10">
                        <input name="update_supplier_address" value="{{supplier.address}}" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Phone Number</label>
                    <div class="col-md-10">
                        <input name="update_supplier_no" value="{{supplier.phone}}" type="text" class="form-control">
                    </div>
                </div>
                <span style="float:right">
                    <a class="btn btn-default" href= "{% url 'suppliers' %}">Back</a>
                    <button type="submit" class="btn btn-primary" >Submit</button>
                </span>
            </form>
    </div>    
    <div class="col-md-6"></div>    
</div>
            
{% endblock %}