{% extends "app/base.html" %}
{% block content %}
<br>
<form class="form form-horizontal" method="POST">
    {% csrf_token %}
    <div class="col-md-8">
        <div class="panel panel-default" style="margin-bottom:0">
            <div class="panel-heading"><center><h4>UPDATE ITEM</h4></center></div>
                <div class="panel-body">
                    <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-10" style="margin-top: -20px; margin-left: 100px">
                            <p>{{item.item.name}}</p>
                            </div>


                    </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Current Stock</label>
                            <div class="col-md-10">
                                <input name="update_item_currentstock" value="{{item.current_stock}}" type="text" class="form-control">
                            </div>
                    </div>
                    <div class="form-group">
                            <label class="col-md-2 control-label">Location</label>
                           <div class="col-md-10" style="margin-top: -20px; margin-left: 100px">
                            <p>{{item.location.name}}</p>
                           </div>
                    </div>

                    <span style="float: right">
                        <a class="btn btn-default" href="{% url 'view_inventory' item.location.id %}" >Back</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </span>
                    </div>
        </div>
    </div>
</form>
{% endblock %}