{% extends "app/base.html" %}
{% block content %}
    <div class="col-md-8">
         <div class="panel panel-default" style="margin-bottom:0">
            <div class="panel-heading"><center><h4>UPDATE CATEGORY</h4></center></div>
                <div class="panel-body">
            {% if success %}
                <div class="alert alert-success" role="alert">
                    Successfully Update!
                </div>
            {% endif %}
            <form class="form form-horizontal" method="POST">
                {% csrf_token %}
                <br><br>
                <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input name="update_category_name" value="{{ category.name }}" type="text" class="form-control">
                    </div>
                </div>
                <span style="float:right">
                <a class="btn btn-default" href="{% url 'categories' %}">Back</a>
                    <button type="submit" class="btn btn-primary">Submit</button></span>

            </form>
        </div>
      </div>
     </div>

{% endblock %}