 {% extends "app/base.html" %}
{% load staticfiles %}


{% block content %}
<style type="text/css">
    .add-row {
        margin-top: 10px;
        width: 150px;
    }

    .delete-row {
        width: 80%;
        margin-left: 10%;
    }
    #id_transfer th {
        padding: 10px;
        text-align: center;
    }
    #id_transfer td {
        padding: 10px;
        text-align: center;

    }
</style>

<div class="row">
    <div class="col-md-7 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading" >UPDATE ARRIVAL</div>
                <div class="panel-body">
                    <form class="form" method="POST">
                    {% csrf_token %}
                    {{arrivalForm.as_p }}
                            <div class="panel-body">
                            <table id="id_transfer" width="100%" border="0" cellpadding="50" cellspacing="1500">
                            <thead>
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{ formset.management_form }}
                                {% for form in formset %}
                                <tr>
                                {% for field in form %}
                                    <td>{{ field }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <br>
                        <div class="form-group" style="width:150px; float:right">
                            <input type="submit" class="form-control btn btn-success" value="Submit"/>
                        </div>
                        <div><a style="width:150px" class="btn btn-default" href="{% url 'arrivals' %}">Back</a></div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>


{% endblock %}