{% extends "app/base.html" %}

{% block content %}
    <div class="row">
        <h1 class="page-header">{{ current_location.name }} Inventory</h1>
    </div>

    <div class="row">

        <br>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label><h3>As of {{ date }}</h3></label>
            </div>
        </div>

        <table id="example" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th class="select-filter">Type </th>
                <th>
                    <form class="form form-horizontal" method="POST">
                        {% csrf_token %}                        
                        <div class="input-group">
                            <span class="input-group-addon" style="background: white; font-weight: 700; font-size: 14px; font: black;">Current Stock As of</span><input type="datetime-local" class="form-control" name="date">
                            <span class="input-group-btn"><button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search" ></i></button></span>
                        </div>
                    </form>
                </th>
            </tr>
            </thead>
            <tbody>
                {% for item in items %}
            <tr>
                <td>{{ item.item.name}}</td>
                <td>{{ item.item.category }}</td>
                <td>{{ item.item.price }}</td>
                <td width="20%">{{ item.item.type }}</td>
                <td>{{ item.current_stock }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}