{% extends "app/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
  <div class="panel panel-default" style="margin-bottom:0">
            <div class="panel-heading"><center><h4>{{ checklist.name }}</h4></center></div>
                <div class="panel-body">
                    <table id="transfer" class="table" cellspacing="0" width="100%">

                    <tbody>
                        {% for t in checklist_items %}
                        <tr>
                            <td>{{t.display_order}}</td>
                            <td>{{t.item}}</td>
                        {% endfor %}
                    </tbody>
                    </table>
                    </tr>
                    <span style="float: right">
                        <a class="btn btn-default" href="{% url 'checklist' %}">Back</a>
                        <button type="submit" class="btn btn-primary" >Update</button>
                    </span>
                </div>
            </div>
        </div>
  </div>

{% endblock %}