{% extends "app/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
  <div class="panel panel-default" style="margin-bottom:0">
            <div class="panel-heading"><center><h4>ITEMS</h4></center></div>
                <div class="panel-body">
                <table id="transfer" class="table" cellspacing="0" width="100%">
                    <thead>
                    <th>Item</th>
                    <th>Quantity</th>
                    </thead>

                    <tbody>
                        {% for i in arrival_items %}
                        <tr>
                            <td>{{i.item}}</td>
                            <td>{{i.quantity}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                    </table>
                        <a class="btn btn-default" style="float:right" href="{% url 'arrivals' %}">Back</a>
                    </span>
            </div>
        </div>
  </div>

{% endblock %}