<html>

<head>
    <title>B-Bu-Q Inventory System</title>
<style>
    @page {
        size: legal landscape;
        @frame header_frame {
            -pdf-frame-content: header_content;
            left: 50pt; width: 930pt; top: 40pt; height: 40pt;
        }
        @frame content_frame {
            left: 50pt; width: 930pt; top: 60pt; height: 510pt;
        }
        @frame footer_frame {
            -pdf-frame-content: footer_content;
            left: 0pt; width: 1000pt; top: 590pt; height: 20pt;
        }
       .up_details{
            font-size: 1em;
            color: #000;
            line-height: 0.3em;
         }
    }
</style>
</head>

<body>

    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
        <p style="font-size: 22px; font-weight: 100; text-align: center;">B.BU.Q WEEKLY INVENTORY SHEET</p>
    </div>


    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">
        <p style="text-align: right; position: fixed; font-size: 16px; margin-right: 40px;">Weekly Report {{ date|date:"SHORT_DATE_FORMAT" }}</p>
    </div>

    <!-- HTML Content -->
         <div id="bot">
            <p style="font-size: 12px; text-align: right;">Date: {{ date|date:"SHORT_DATE_FORMAT"}}</p>
            <p style="font-size: 12px;">Prepared by: {{user.username}}</p>

                    <div id="table">
                        <!-- page1 row1 starts -->

                        <!-- page1 row1 ends -->

                        <!-- page1 row2 starts -->
                        <table>

                        {% for item in items%}
                            <tr>
                                <th colspan={{colslen}} style="padding-top: 2px; text-align: center; font-size: 11px; border-left: 1px solid black;border-top: 1px solid black; border-right: 1px solid black;">{{item.name}}</th>
                            </tr>

                            <tr class="tabletitle"">
                                <!-- left table -->
                                <th class="hours" style="padding-top: 1px; font-size: 11px; border-left: 1px solid black;">DATE</th>
                                <th class="hours" style="padding-top: 1px; font-size: 11px;">BEG</th>
                                {% for sup in suppliers %}
                                <th class="hours" style="padding-top: 1px; font-size: 11px;">{{sup.name}}</th>
                                {% endfor %}
                                {% for loc in locations %}
                                <th class="hours" style="padding-top: 1px; font-size: 11px;">{{loc.name}}</th>
                                {% endfor %}
                                <th class="hours" style="padding-top: 1px; font-size: 11px; border-right: 1px solid black;">END</th>
                            </tr>
                            {% for i in info %}
                            {% if i.name == item.name %}
                            <tr class="service" style="text-align: center; margin-top: 30px; padding: 3px;">
                                <td class="tableitem" style="padding: 0.2px; border-left: 1px solid black"><p class="itemtext1">{{i.created_date|date:"SHORT_DATE_FORMAT"}}</p></td>
                                <td class="tableitem" style="padding: 0.2px;"><p class="itemtext1">{{i.beg}}</p></td>
                                <td class="tableitem" style="padding: 0.2px;"><p class="itemtext">{{i.E_LIM}}</p></td>
                                <td class="tableitem" style="padding: 0.2px;"><p class="itemtext">{{i.Bado}}</p></td>
                                <td class="tableitem" style="padding: 0.2px;"><p class="itemtext">{{i.GAMA}}</p></td>
                                <td class="tableitem" style="padding: 0.2px;"><p class="itemtext">{{i.MAIN}}</p></td>
                                <td class="tableitem" style="padding: 0.2px;"><p class="itemtext">{{i.B1}}</p></td>
                                <td class="tableitem" style="padding: 0.2px;"><p class="itemtext">{{i.B2}}</p></td>
                                <td class="tableitem" style="padding: 0.2px; border-right: 1px solid black;"><p class="itemtext">{{i.end}}</p></td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            <tr>
                                <td colspan={{colslen}} style="border-top: 1px solid black;"></td>


                            </tr>
                             {% endfor %}
                        </table>
                        <!-- page1 row2 ends -->

                    </div>
                    
        </div>
</body>
</html>