{% extends "app/base.html" %}
{% block content %}
	<div class="row">
		<h2 class="text-center">Weekly Expenses<span style="float: right">
        <a class="btn btn-default" href="{% url 'reports' %}">Back</a></span></h2>
		<br>

		<form class="form" method="POST">
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
			<thead>
			  <tr>
			    <th>Date</th>
				<th>Expenses</th>
				<th>Amount</th>
			  </tr>
			</thead>
			<tbody>
			{% for ex in weekly_expense %}
			  <tr>
				<td>{{ex.date_created}}</td>
				<td>{{ex.expenses}}</td>
				<td>{{ex.amount}}</td>
			  </tr>
			  {% endfor %}
			</tbody>
		</table>

		<table class="table table-bordered table-hover">
			<thead>
			  <tr>
			    <th>Total Expense</th>
				<th>Total Amount</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>{{total_expense}}</td>
				<td>{{total_amount}}</td>
			  </tr>
			</tbody>
		</table>



	</div>
</form>
</div>

{% endblock %}